.jumbotron{
    background-color: skyblue;
    color: whitesmoke;
}

.low {
    background-color: green;
    color: white;
    padding: 5px;
    max-width: 10rem;
}

.moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
    max-width: 10rem;
}

.high {
    background-color: darkorange;
    color: black;
    padding: 5px;
    margin: 1px;
    max-width: 10rem;
}

.veryHigh {
    background-color: red;
    color: white;
    padding: 5px;
    max-width: 10rem;
}

.extremelyHigh {
    background-color: purple;
    color: white;
    padding: 5px;
    max-width: 10rem;
}

#forecast {
    background-color:deepskyblue;
    max-width: 11rem;

}
